# Copy this file to .env and fill values
PORT=5000
# Find this URI in MongoDB Atlas -> Connect -> "Drivers"
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority&appName=<cluster-name>
DB_NAME=expense_app
JWT_SECRET=supersecretchangeme
JWT_EXPIRES=7d
# Comma-separated list of allowed origins
CORS_ORIGINS=http://localhost:5173,https://expense-app-adnan.netlify.app
